# Logs
logs
*.log
npm-debug.log*

pids
*.pid
*.seed

.grunt
.idea
.lock-wscript
.npm
.node_repl_history
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)

dist
conf/recaptcha
jspm_packages
lib-cov
node_modules
target
vendor
