<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Simple Feedback Demo</title>
    <link rel="stylesheet" src="/angular-simple-feedback.css">
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/angular-simple-feedback.js"></script>
</head>
<body>

<h1>Simple Feedback Form</h1>

<ul>
    <li>Toggles the display state of the form.</li>
    <li>Sends all the form fields as a JSON object.</li>
    <li>Can optionally include a recaptcha.</li>
</ul>

<div ng-app="simple-feedback"
     feedback-widget
     method="post"
     <% if (recaptcha) { %>recaptcha="<%- recaptcha %>"<% } %>
     url="'/api/feedback'">
    <button ng-click="$parent.show()">Send Feedback</button>
    <div>
        <input type="email" name="email" ng-model="data.email" placeholder="Email Address" required />
        <textarea name="description" ng-model="data.description" rows="4" placeholder="Description"></textarea>
        <button type="submit" ng-click="$parent.submit()">Send</button>
    </div>
    <div id="feedback-recaptcha"></div>
</div>

<script src="https://www.google.com/recaptcha/api.js?onload=onRecaptchaCallback&render=explicit"></script>

</body>
</html>